.container.portfolio__container{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    /* gap: 5rem; */
    /* height: 68vh; */
    padding-right: 4rem;
    padding-left: 4rem;
    /* width: 80%; */
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
    /* padding-bottom: 4rem; */
    /* height: 40vh; */
}

.portfolio__item:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.portfolio__item-image{
    left: 50%;
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__items h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__items-cta{
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 3rem;
    margin-bottom: 1rem;
}

/* media queries - medium devices */
@media screen and  (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        height: auto;
    }
    
}
/* media queries - small devices */
@media screen and  (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}