nav{
    /* background: rgba(32, 45, 102, 0.6); */
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    gap: 0.8rem;
    display: flex;
    border-radius: 4rem;
    bottom: 2rem;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.6rem ; /* 1.1rem*/
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color-bg-variant);
    color: var(--color-white);
}

.navbar-prompt {
    display: block;
    padding: 0.4rem 5rem;
    z-index: 2;
    position: fixed;
    bottom: 3rem;
    left: 21%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: large;
  }
  
.navbar-prompt.visible {
opacity: 1;
}